{{!--
The start page proposes three actions to start using the application.
--}}

{{!-- Page content --}}
<h1 class="ui center aligned icon header" style="padding-top:10%;">
    <i class="flask icon"></i>
</h1>
<div class="ui centered grid" , id="grid">
    <div class="ui horizontal divider">
        Orchestra
    </div>
    <div class="nine wide column">
        Orchestra is meant to help you organise your experimental campaign by multiple means: <br>
        <div class="ui bulleted list">
            <div class="item">Automating experiment executions with the cluster you love</div>
            <div class="item">Saving experimental results using off-the-shelf git repositories</div>
            <div class="item">Automating campaign wide analysis update using new results</div>
            <div class="item">Allowing online experiment generation</div>
            <div class="item">Providing a nice integrated interface to go through your results</div>
        </div>
    </div>
    <div class="ui horizontal divider">
        What next ?
    </div>
    <div class="ui horizontal segments">
        <div class="ui segment">
            <div class="ui top attached label">Clone</div>
            <p>
                Already have an existing Campaign repository somewhere online? Clone it and continue your work on this
                machine.
            </p>
            <br>
            <button class="ui labeled icon basic primary button" id="clone_button">
                <i class="download icon"></i>
                Clone Existing Campaign
            </button>
        </div>
        <div class="ui segment">
            <div class="ui top attached label">New</div>
            <p>
                Have an experiment you would like to perform a campaign on ? Start a campaign repository from here.
            </p>
            <br>
            <button class="ui labeled icon basic primary button" id="new_button">
                <i class="magic icon"></i>
                Start New Campaign
            </button>
        </div>
        <div class="ui segment">
            <div class="ui top attached label">Open</div>
            <p>
                Want to continue to work on a campaign existing on this computer ? Open it and get back to work !
            </p>
            <br>
            <button class="ui labeled icon basic primary button" id="open_button">
                <i class="folder open outline icon"></i>
                Open Local Campaign
            </button>
        </div>
    </div>
</div>

{{!-- Modal for Campaign Cloning --}}
<div class="ui modal" id="clone_modal">
    <div class="ui icon header">
        <i class="download icon"></i>
        Clone Campaign
    </div>
    <div class="content">
        <form class="ui form" id="clone_form">
            <div class="field">
                <label>Campaign Url</label>
                <input name="remote_url" placeholder="ssh://git@my.git.server/user/new_campaign.git" type="text">
            </div>
            <div class="field">
                <label>Local Path</label>
                <input name="local_path" placeholder="/home/user/Campaigns" type="text">
            </div>
            <div class="ui error message" id="clone_error">
            </div>
            <button class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                Create
            </button>
        </form>
    </div>
</div>
<script>
    // Connect button
    $("#clone_button").click(function () {
        $("#clone_modal").modal("show");
    });
    // Set up form
    $("#clone_form")
        .form({
            fields: {
                remote_url: 'empty',
                local_path: 'empty',
            }
        })
        .api({
            action: "clone campaign",
            method: "POST",
            serializeForm: true,
            beforeSend: function (settings) {
                $("#clone_form").addClass("loading");
                return settings;
            },
            successTest: function (response) {
                return response.success;
            },
            onFailure: function (response) {
                $("#clone_error").text(response.error);
                $("#clone_error").show();
            },
            onSuccess: function (response) {
                $("#clone_form").addClass("loading");
                window.setInterval(function(){
                    $.get("/home", function(data){
                        location.replace("/home");
                    })
                }, 2000);
            },
        });
</script>


{{!-- Modal for New Campaign--}}
<div class="ui modal" id="new_modal">
    <div class="ui icon header">
        <i class="magic icon"></i>
        Start New Campaign
    </div>
    <div class="content">
        <form class="ui form" id="new_form">
            <div class="field">
                <label>Experiment Url</label>
                <input name="experiment_url" placeholder="ssh://git@my.git.server/user/experiment.git" type="text">
            </div>
            <div class="field">
                <label>Campaign Url (to be created by orchestra ... )</label>
                <input name="campaign_url" placeholder="ssh://git@my.git.server/user/new_campaign.git" type="text">
            </div>
            <div class="field">
                <label>Local Path</label>
                <input name="local_path" placeholder="/home/user/Campaigns" type="text">
            </div>
            <div class="ui error message" id="new_error">
            </div>
            <button class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                Create
            </button>
        </form>
    </div>
</div>
<script>
    // Connect button
    $("#new_button").click(function () {
        $("#new_modal").modal("show");
    });
    // Set up form
    $("#new_form")
        .form({
            fields: {
                experiment_url: 'empty',
                campaign_url: 'empty',
                local_path: 'empty',
            }
        })
        .api({
            action: "new campaign",
            method: "POST",
            serializeForm: true,
            beforeSend: function (settings) {
                $("#new_form").addClass("loading");
                return settings;
            },
            successTest: function (response) {
                return response.success;
            },
            onFailure: function (response) {
                $("#new_error").text(response.error);
                $("#new_error").show();
            },
            onSuccess: function (response) {
                $("#new_form").addClass("loading");
                window.setInterval(function(){
                    $.get("/home", function(data){
                        location.replace("/home");
                    })
                }, 2000);
            },
        });
</script>

{{!-- Modal for Open Campaign--}}
<div class="ui modal" id="open_modal">
    <div class="ui icon header">
        <i class="magic icon"></i>
        Open Local Campaign
    </div>
    <div class="content">
        <form class="ui form" id="open_form">
            <div class="field">
                <label>Local Path</label>
                <input name="local_path" placeholder="/home/user/Campaigns" type="text">
            </div>
            <div class="ui error message" id="open_error">
            </div>
            <button class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                Open
            </button>
        </form>
    </div>
</div>
<script>
    // Connect button
    $("#open_button").click(function () {
        $("#open_modal").modal("show");
    });
    // Set up form
    $("#open_form")
        .form({
            fields: {
                local_path: 'empty',
            }
        })
        .api({
            action: "open campaign",
            method: "POST",
            serializeForm: true,
            beforeSend: function (settings) {
                $("#open_form").addClass("loading");
                return settings;
            },
            successTest: function (response) {
                return response.success;
            },
            onFailure: function (response) {
                $("#open_error").text(response.error);
                $("#open_error").show();
            },
            onSuccess: function (response) {
                $("#open_form").addClass("loading");
                window.setInterval(function(){
                    $.get("/home", function(data){
                        location.replace("/home");
                    })
                }, 2000);
            },
        });
</script>