{{!--
The executions overview page allows to see all the executions, to sort filter and manipulate those.
--}}


{{!-- Title and help box --}}
<div class="ui accordion" style="padding-top: 2%">
    <div class="title">
        <h1>Executions<i class="dropdown icon"></i> </h1>
    </div>
    <div class="content">
        <div class="ui info message transition">
            <div class="header">
                What is this?
            </div>
            <p>This page allows you to filter and access the executions.</p>
        </div>
    </div>
    <br>
</div>
<script>
    $(".ui.accordion").accordion();
</script>


<!-- Executions table -->
<div class="ui centered grid" , id="grid">
    <div class="sixteen wide column">
        <table class="ui compact table" id='executions_table'>
            <thead>
                <tr>
                    <th>Id</th> 
                    <th>Commit</th>
                    <th>Params.</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Duration</th>
                    <th>Profile</th>
                    <th>Code</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <script>
        $("#executions_table").DataTable({
            "paging":   false,
            "ajax": "/api/get_executions",
            "columnDefs": [
                {
                    "render": function(data, type, row){
                        return `<a href="/executions/${data}" id="${data}">${data.slice(0, 9)+"..."}</a>`;
                    },
                    "targets": 0,
                },
                {
                    "render": function(data, type, row){
                        return data.slice(0,5);
                    },
                    "targets": 1,
                }
            ],
            "createdRow": function(row, data, dataIndex){
                if(data[7] == "0"){
                    $(row).addClass("positive");
                }
                else{
                    $(row).addClass("negative");
                }
            },
            "dom": '<"ui buttons"> frti',
        });
        $("div.ui.buttons").html(`
            <button class="ui basic primary button" id="executions_table_select_all_button">
                Select All
            </button>
            <button class="ui basic primary button" id="executions_table_deselect_all_button">
                Deselect All
            </button>
            <button class="ui basic yellow button" id="executions_table_reschedule_button">
                <i class="recycle icon"></i>
                Reschedule
            </button>
            <button class="ui basic negative button" id="executions_table_delete_button">
                <i class="trash alternate outline icon"></i>
                Delete
            </button>
        `);
        $("#executions_table_filter").css("float", "right");
        $("#executions_table tbody").on("click", "tr", function(){
            $(this).toggleClass("active");
        });
        $("#executions_table_select_all_button").click(function(){
            $("#executions_table").DataTable().rows({"search": "applied",}).nodes().toArray().forEach(x => $(x).addClass("active"));
        });
        $("#executions_table_deselect_all_button").click(function(){
            $("#executions_table").DataTable().rows({"search": "applied",}).nodes().toArray().forEach(x => $(x).removeClass("active"));
        });
        $("#executions_table_reschedule_button").click(function(){
            $("#executions_table_reschedule_button").addClass("loading");
            let requests = $("#executions_table").DataTable().rows({"search": "applied",}).nodes().toArray().filter(x=>$(x).hasClass("active")).map(function(x){
                $.post("/api/reschedule_execution", {identifier: $(x).find("a").attr("id")})
            });
            $.when.apply(this, requests).done(function(){
                $("#executions_table_reschedule_button").removeClass("loading");
                location.reload()
            });            
        });
        $("#executions_table_delete_button").click(function(){
            $("#executions_table_delete_button").addClass("loading");
            let requests = $("#executions_table").DataTable().rows({"search": "applied",}).nodes().toArray().filter(x=>$(x).hasClass("active")).map(function(x){
                $.post("/api/delete_execution", {identifier: $(x).find("a").attr("id")})
            });
            $.when.apply(this, requests).done(function(){
                $("#executions_table_delete_button").removeClass("loading");
                location.reload();
            });            
        });

    </script>
</div>