{{!--
The tasks overview page allows to check the state of workers as well as remaining tasks.
--}}


{{!-- Title and help box --}}
<div class="ui accordion" style="padding-top: 2%">
    <div class="title">
        <h1>Tasks Overview<i class="dropdown icon"></i> </h1>
    </div>
    <div class="content">
        <div class="ui info message transition">
            <div class="header">
                What is this?
            </div>
            <p>This page allows you to have a look on the workers state, as well as the remaining tasks to be
                processed. This view is updated ever 5 seconds.
            </p>
        </div>
    </div>
    <br>
</div>
<script>
    $(".ui.accordion").accordion();
</script>


<!-- Informations related to workes and tasks -->
<div class="ui centered grid" , id="grid">
    <div class="ui horizontal divider">
        Workers
    </div>
    <div class="sixteen wide column">
        <table class="ui  compact table" id="workers_table">
            <thead>
                <tr>
                    <th>Worker state</th>
                </tr>
            </thead>
            <tbody id="workers_tbody">
            </tbody>
        </table>
    </div>
    <script>
        function updateWorkersTable() {
            $.get('/api/get_workers', function (data) {
                let workers = data.split(" ¤ ").filter(s => s !== "");
                $("#workers_tbody").empty();
                for (var w in workers) {
                    work = workers[w];
                    if (work.includes("Idle")) {
                        $("#workers_tbody").append(`<tr><td class="positive">${work}</td></tr>`);
                    }
                    else {
                        $("#workers_tbody").append(`<tr><td class="warning">${work}</td></tr>`);
                    }
                }
                setTimeout(updateWorkersTable, 5000);
            });
        }
        updateWorkersTable();
    </script>
    <div class="ui horizontal divider">
        Scheduled Tasks
    </div>
    <div class="sixteen wide column">
        <table class="ui  compact table">
            <thead>
                <tr>
                    <th>Command</th>
                    <th>Commit</th>
                    <th>Profile</th>
                </tr>
            </thead>
            <tbody id="tasks_tbody">
            </tbody>
        </table>
    </div>
    <script>
        var reg = new RegExp("^Task <(.*)>@(.*)#(.*)$");
        function updateTasksTable() {
            $.get('/api/get_tasks', function (data) {
                let tasks = data.split(" ¤ ").filter(s => s !== "");
                console.log(tasks);
                $("#tasks_tbody").empty();
                for (var t in tasks) {
                    task = reg.exec(tasks[t]);
                    $("#tasks_tbody").append(`<tr><td>${task[1]}</td><td>${task[2]}</td><td>${task[3]}</td></tr>`);
                }
                setTimeout(updateTasksTable, 5000);
            });
        }
        updateTasksTable();
    </script>
</div>